body {
    font-family: Arial,sans-serif;
    line-height: 1.6;
    margin:0;
    padding: 0;
    text-align: center;
}
header {
    background:#28df7e;
    color: white;
    padding: 1em 0;
}
footer {
    background: #f4f4f4;
    padding: 1em 0;
}
button {
    background-color: darksalmon;
    color: white;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049
}